footer.c-footer
  p chr.dc
  div.c-footer__social
    a(href='#!')
      img(src='/img/icon-twitter.png', alt='Twitter')
    a(href='#!')
      img(src='/img/icon-facebook.png', alt='Facebook')
      
    
