footer.c-footer
  a.c-footer__title.u-primary(href='#!') chr.dc
  ul.c-footer__social-list
    li.c-footer__social-item
      a(href='#!')
        img(src='/img/icon-twitter.png', alt='Twitter')
    li.c-footer__social-item
      a(href='#!')
        img(src='/img/icon-facebook.png', alt='Facebook')
      
    
