block vars
  - var $description = ''
  - var $scope = ''
  - var $title = ''

doctype html
html.no-js(lang='pt-BR')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title #{$title}
    meta(name='description', content='#{$description}')

    //- Mobile Metas
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    
    block top
      link(rel='stylesheet', href='/main.css')
  body(class='#{$scope}')
    include ./header.jade
    // content
    block content
      h1 Work !
    // /content
    include ./footer.jade
    
    block bottom
      script(src='/main.js')
      
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700')
