//  Shortener link
//  ==========================================================================


component('shortener-link', @(){
  color $color-primary
  font-weight: $fw-bold

  &:hover {
    text-decoration: underline
  }
})
